.footer-section {
  margin-block: 128px;
  max-width: 1200px;
  margin-inline: auto;
  text-align: center;
}
.footer-section h1 {
  font-size: 48px;
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
.footer-section-text {
  margin-block: 36px;
}
.footer-section-text p {
  font-size: 16px;
  color: rgb(143, 144, 148);
  font-weight: 400;
}
.footer-section p span {
  color: var(--highlight-color);
}
@media (max-width: 1024px) {
  .footer-section h1 {
    font-size: 42px;
  }
  .footer-section-text {
    margin-block: 20px;
  }
  .footer-section-text p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .footer-section h1 {
    font-size: 32px;
  }
  .footer-section-text {
    margin-block: 16px;
  }
  .footer-section-text p {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .footer-section h1 {
    font-size: 24px;
  }
  .footer-section-text p {
    font-size: 12px;
  }
}
